@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #efeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-right: 5px;
}
.sessao{
    margin-left: 5px;
    height: 80%;
    width: 70%;
 
    display: flex;
    justify-content: center;
    padding: 8px;
    flex-wrap: wrap;
}

#foto{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    
}
.ret{
    width: 80%;
    height: 120px;
    background-color: #4f0aed;
    margin-top: 60px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 10px 15px #4d4d4d2a;
}


h1{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;
    
}
h2{
    color:#4f0aed;
}
p{
    color: #594e4a;
}
.contatar{
    width: 80%;
    padding: 15px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
   
}
.card{
    width: 100%;
   
    white-space: normal;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    padding: 45px;
    cursor: pointer;
    box-shadow: 0px 10px 15px #4d4d4d2a;
    transition: 0.5s;}

.card:hover{
    box-shadow: 0px 0px 12px #4f0aed;
}
.icon{
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 5px;
}
.icom{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    align-items: center;
    
}
.whats{
    width: 80%;
    background-color: #2cb742;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.whats:hover{
    box-shadow: 0px 0px 12px #2cb742;
}
.git{
    margin-top: 10px;
    width: 80%;
    background-color: #5C6BC0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.git:hover{
    box-shadow: 0px 0px 12px #5C6BC0;
}
@media (max-width:  720px)
{
 .container{
     flex-direction: column;
     height: 100%;
     width: 100%;
    
 }
 .card{
        width: 100%;
        
        
 }
 .contatar{
     
     height: 200px;
     width: 500px;
     
 }
 #rp{
     margin-top: -5px;
 }
 .sessao{
     width: 85%;
 }

}







